[submodule "pkgs/kickstart.nvim/.config/nvim"]
	path = pkgs/kickstart.nvim/.config/nvim
	url = git@github.com:yoo3/kickstart.nvim.git
[submodule "pkgs/pkgs/LazyVim/.config/nvim"]
	path = pkgs/LazyVim/.config/nvim
	url = git@github.com:yoo3/lazyvim-starter.git
